<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="/styles/login.css" />
</head>
<body>
  <div class="login-container">
    <form class="login-box" action="/auth/login" method="POST">
      <input type="email" 
             placeholder="Email" 
             class="input"
             name="email"
             title="Email must be valid and end with gmail.com, yahoo.com, yahoo.in, or outlook.com"
             required />
      <input type="password" 
             placeholder="password" 
             class="input"
             name="password"
             title="Password must be at least 8 characters, one number, and one special character (@, #, _)"
             required />
      <button type="submit" class="login-btn">LOGIN</button>
      <p class="register-text">
        <a href="/auth/forgot-password">Forgot Password? </a><br>
        <a href="/auth/signup">Don't have an account? </a>
      </p>
    </form>
  </div>
</body>
</html>