<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="..\..\public\styles\login.css" />
</head>
<body>
  <div class="login-container">
    <form class="login-box">
      <input type="text" placeholder="username" class="input" />
      <input type="password" placeholder="password" class="input" />
      <button type="submit" class="login-btn">LOGIN</button>
      <p class="register-text">
        <a href="forgotpswd.html">Forgot Password? </a>
      </p>
    </form>
  </div>
</body>
</html>
